.app-contact-container {
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top:30px;
  padding-bottom: 30px;
  background: #fafafa;
}
.app-contact-container h1 {
  font-size: 50px;
  font-weight: 900;
  color: #8BC34A;
}
.app-contact {
  display:flex;
  width:calc(100% - 20px);
  padding:10px;
  background: #fff;
  box-shadow:0px 0px 56px 1px rgba(0,0,0,.05);
  max-width: 900px;
  justify-content: center;
  flex-direction: column;
  flex-wrap:wrap;

}
.label-default {
  font-size:17px;
  padding-left:10px;
  color:#6BA33A;
  margin-top:10px;
  font-weight: bold;
}
.inp-default {
  padding:10px;
  border:1px solid #ddd;
  margin-top:2px;
  font-size:17px;
  padding-top:7px;
  padding-bottom:7px;
  width:100%;
  box-sizing:border-box;
}
.txtarea {
  resize:none;
  font-family:Roboto, sans-serif;
}
.btn-default {
  padding:15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:#8BC34A;
  color:#fff;
  border:none;
  border-radius:4px;
  font-weight: bold;
  font-size:18px;
  margin-top:10px;
  cursor:pointer;
  outline:none;
  transition:all .2s;
}
.btn-default:hover {
  background:#8BC34AAA;
}
.btn-default:active {
  background:#8BC34A;
}